.zmain {
  background-color: #d34d01;
  width: 100%;
  overflow: auto;
}
.zgred {
  background-color: #d34d01;
  cursor: pointer;
  font-size: 1.5em;
}


.hide {
  display: none;
}

.show {
  display: block;
}

li.checkered:nth-child(even) {
  background-color: #ededed;
}

a.item-link > div.item-img {
  display: none;
}
a.item-link:hover > div.item-img {
  display: block;
}
div.item-img {
  position: absolute;
  left: 40%;
}
